<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
	<!-- Latest compiled and minified CSS -->
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

	<!-- Icons -->
	<link href="./argon-design-system-master/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
	<link href="./argon-design-system-master/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


	<!-- Theme CSS -->
	<link type="text/css" href="./argon-design-system-master/assets/css/argon.min.css" rel="stylesheet">

	<!-- Core -->
	<script src="./argon-design-system-master/assets/vendor/jquery/jquery.min.js"></script>
	<script src="./argon-design-system-master/assets/vendor/popper/popper.min.js"></script>
	<script src="./argon-design-system-master/assets/vendor/bootstrap/bootstrap.min.js"></script>

	<!-- Theme JS -->
	<script src="./argon-design-system-master/assets/js/argon.min.js"></script>

	<!--Optional Plugins-->
	<script src="./argon-design-system-master/assets/vendor/PLUGIN_FOLDER/PLUGIN_SCRIPT.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

	<!--Datetime Picker-->
	<script src="./argon-design-system-master/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>

	<script type="text/javascript">
		$(document).ready(function(){
		  $("#myInput").on("keyup", function() {
		    var value = $(this).val().toLowerCase();
		    $("#table tr").filter(function() {
		      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
		    });
		  });
		});
	</script>

	<!--Style-->
	<style type="text/css">
		.tablehead	{
			color: white;
			background-color:  #1a5276;
			/*text-align: center;*/
		}
		.tablebody{
			color: default;
			background-color: white;
			/*text-align: center;*/
		}
		body{
			/*background-color: #979a9a;*/
			background-image: linear-gradient(-45deg,#2BC0E4 ,#EAECC6);
		}
		.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
		    background-color:   #34495e;
		    color: white;
		    font-weight: bold;
		}
	</style>
</head>
<body>
	<!--Navigation Bar-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-default">
    <div class="container">
        <a class="navbar-brand" href="#">
        	<img src="Eblity.jpeg" alt="Eblity" style="width: 70px ; height: 50px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-default">
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a href="index.html">
                            <img src="Eblity.jpeg">
                        </a>
                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>

            <ul class="navbar-nav ml-auto">
	      <li class="nav-item">
	        <a class="nav-link" href="#" style="font-weight: bold">HOME</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#" style="font-weight: bold">DASHBOARD</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#" style="font-weight: bold">STUDENT PROFILE</a>
	      </li>
	      <li>
	      	<a class="nav-link" href="#" style="font-weight: bold">ABOUT US</a>
	      </li>    
	    </ul>
	    <a href="#"><i class="fa fa-facebook-square float-right ml-4 text-white"></i></a>
	    <a href="#"><i class="fa fa-twitter-square float-right ml-3 text-white"></i></a>
	    <a href="#"><i class="fa fa-whatsapp float-right ml-3 text-white"></i></a>

        </div>
    </div>
</nav>
	<br><br>
	<!--datetime picker-->	
		<div class="form-group float-left" style="width: 30% ; padding-left: 30px">
	    	<div class="input-group input-group-alternative">
		        <div class="input-group-prepend">
		            <span class="input-group-text" style="background-color:  #154360 "><i class="ni ni-calendar-grid-58 datepicker"></i></span>
		        </div>
		        <input class="form-control datepicker text-white" placeholder="Select date" type="text" value="" style="background-color:  #154360 ">
	    	</div>
		</div>

	<!--Alert-->
	<div class="text-center" style="padding-right: 30%; text-shadow: 5px 5px 3px  #b3b6b7 ">
		<h3 class="text-default"><strong>Alerts Page!</strong></h3>
		</div>
	<br><br>	

	<!--Alert Table-->
	
<div class="container pagebody">
	<input class="form-control float-right" id="myInput" type="text" placeholder="Search.." style="width: 30%; margin-bottom: 10px">
	<br>
	<div class="table-responsive">
		<table id="table" class="table align-items-center table-light table-hover">
		<thead class="tablehead">
		    <tr class="filters">
		        <th scope="col">Grade</th>
		        <th scope="col">Student</th>
		        <th scope="col">Topic</th>
		        <th scope="col">Alert</th>
		        <th scope="col">Intervention Required</th>
		        <th scope="col">Status</th>
		        <th scope="col">Date</th>
		    </tr>
		</thead>
		<tbody class="tablebody">
		    <tr>
		        <th scope="row">
		            <div class="media align-items-center">
		                <div class="media-body">
		                    <span class="mb-0 text-sm">A</span>
		                </div>
		            </div>
		        </th>
		        <td>
		            Rahul
		        </td>
		        <td>
		            Topic
		        </td>
		        <td>
		            <div class="avatar-group">
							<a href="alert-details.html">Alert</a> 
					</div>

		        </td>
		        <td>
		            <div class="d-flex align-items-center">
		                <span class="mr-2">Required</span>
		            </div>
		        </td>
		        <td class="justify-content-center">
		        	<span class="badge badge-pill mr-3 bg-success text-white">
		        		Completed
		        	</span>
		            <div class="dropdown">
		                <a class="btn btn-sm btn-icon-only text-white" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		                  <i class="material-icons">expand_more</i>
		                </a>
		                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
		                    <a class="dropdown-item" href="#">Action-1</a>
		                    <a class="dropdown-item" href="#">Action-2</a>
		                    <a class="dropdown-item" href="#">Action-3</a>
		                </div>
		            </div>
		        </td>
		        <td>
		        	Date
		        </td>
		    </tr>
		    <tr>
		        <th scope="row">
		            <div class="media align-items-center">
		                <div class="media-body">
		                    <span class="mb-0 text-sm">B</span>
		                </div>
		            </div>
		        </th>
		        <td>
		            Rahul
		        </td>
		        <td>
		            Topic
		        </td>
		        <td>
		            <div class="avatar-group">
							<a href="alert-details.html">Alert</a>
					</div>

		        </td>
		        <td>
		            <div class="d-flex align-items-center">
		                <span class="mr-2">Required</span>
		            </div>
		        </td>
		        <td class="justify-content-center">
		        	<span class="badge badge-pill mr-3 bg-danger text-white">
		        		pending
		        	</span>
		            <div class="dropdown">
		                <a class="btn btn-sm btn-icon-only text-white" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		                  <i class="material-icons">expand_more</i>
		                </a>
		                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
		                    <a class="dropdown-item" href="#">Action-1</a>
		                    <a class="dropdown-item" href="#">Action-2</a>
		                    <a class="dropdown-item" href="#">Action-3</a>
		                </div>
		            </div>
		        </td>
		        <td>
		        	Date
		        </td>
		    </tr>
		    <tr>
		        <th scope="row">
		            <div class="media align-items-center">
		                <div class="media-body">
		                    <span class="mb-0 text-sm">A</span>
		                </div>
		            </div>
		        </th>
		        <td>
		            Pradeer
		        </td>
		        <td>
		            Topic
		        </td>
		        <td>
		            <div class="avatar-group">
							<a href="alert-details.html">Alert</a>
					</div>

		        </td>
		        <td>
		            <div class="d-flex align-items-center">
		                <span class="mr-2">Required</span>
		            </div>
		        </td>
		        <td class="justify-content-center">
		        	<span class="badge badge-pill mr-3 bg-danger text-white">
		        		pending
		        	</span>
		            <div class="dropdown">
		                <a class="btn btn-sm btn-icon-only text-white" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		                  <i class="material-icons">expand_more</i>
		                </a>
		                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
		                    <a class="dropdown-item" href="#">Action-1</a>
		                    <a class="dropdown-item" href="#">Action-2</a>
		                    <a class="dropdown-item" href="#">Action-3</a>
		                </div>
		            </div>
		        </td>
		        <td>
		        	Date
		        </td>
		    </tr>
		    <tr>
		        <th scope="row">
		            <div class="media align-items-center">
		                
		                <div class="media-body">
		                    <span class="mb-0 text-sm">A</span>
		                </div>
		            </div>
		        </th>
		        <td>
		            Yogesh
		        </td>
		        <td>
		            Topic
		        </td>
		        <td>
		            <div class="avatar-group">
						<a href="alert-details.html">Alert</a>
		</div>

		        </td>
		        <td>
		            <div class="d-flex align-items-center">
		                <span class="mr-2">Required</span>
		            </div>
		        </td>
		        <td class="justify-content-center">
		        	<span class="badge badge-pill mr-3 bg-success text-white">
		        		completed
		        	</span>
		            <div class="dropdown">
		                <a class="btn btn-sm btn-icon-only text-white" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		                  <i class="material-icons">expand_more</i>
		                </a>
		                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
		                    <a class="dropdown-item" href="#">Action-1</a>
		                    <a class="dropdown-item" href="#">Action-2</a>
		                    <a class="dropdown-item" href="#">Action-3</a>
		                </div>
		            </div>
		        </td>
		        <td>
		        	Date
		        </td>
		    </tr>
		    <tr>
		        <th scope="row">
		            <div class="media align-items-center">
		              
		                <div class="media-body">
		                    <span class="mb-0 text-sm">B</span>
		                </div>
		            </div>
		        </th>
		        <td>
		            Arsh
		        </td>
		        <td>
		            Topic
		        </td>
		        <td>
		            <div class="avatar-group">
						<a href="alert-details.html">Alert</a>
		</div>

		        </td>
		        <td>
		            <div class="d-flex align-items-center">
		                <span class="mr-2">Required</span>
		            </div>
		        </td>
		        <td class="justify-content-center">
		        	<span class="badge badge-pill mr-3 bg-danger text-white">
		        		pending
		        	</span>
		            <div class="dropdown">
		                <a class="btn btn-sm btn-icon-only text-white" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		                  <i class="material-icons">expand_more</i>
		                </a>
		                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
		                    <a class="dropdown-item" href="#">Action-1</a>
		                    <a class="dropdown-item" href="#">Action-2</a>
		                    <a class="dropdown-item" href="#">Action-3</a>
		                </div>
		            </div>
		        </td>
		        <td>
		        	Date
		        </td>
		    </tr>
		    <tr>
		        <th scope="row">
		            <div class="media align-items-center">
		              
		                <div class="media-body">
		                    <span class="mb-0 text-sm">A</span>
		                </div>
		            </div>
		        </th>
		        <td>
		            XYZ
		        </td>
		        <td>
		            Topic
		        </td>
		        <td>
		            <div class="avatar-group">
						<a href="alert-details.html">Alert</a>
		</div>

		            </td>
		            <td>
		                <div class="d-flex align-items-center">
		                    <span class="mr-2">Required</span>
		                </div>
		            </td>
		            <td class="justify-content-center">
		            	<span class="badge badge-pill mr-3 bg-danger text-white">
		            		pending
		            	</span>
		                <div class="dropdown">
		                    <a class="btn btn-sm btn-icon-only text-white" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		                      <i class="material-icons">expand_more</i>
		                    </a>
		                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
		                        <a class="dropdown-item" href="#">Action-1</a>
		                        <a class="dropdown-item" href="#">Action-2</a>
		                        <a class="dropdown-item" href="#">Action-3</a>
		                    </div>
		                </div>
		            </td>
		            <td>
		            	Date
		            </td>
		        </tr>
		        <tr>
		            <th scope="row">
		                <div class="media align-items-center">
		                  
		                    <div class="media-body">
		                        <span class="mb-0 text-sm">A</span>
		                    </div>
		                </div>
		            </th>
		            <td>
		                Name
		            </td>
		            <td>
		                Topic
		            </td>
		            <td>
		                <div class="avatar-group">
		    				<a href="alert-details.html">Alert</a>
		</div>

		            </td>
		            <td>
		                <div class="d-flex align-items-center">
		                    <span class="mr-2">Required</span>
		                </div>
		            </td>
		            <td class="justify-content-center">
		            	<span class="badge badge-pill mr-3 bg-danger text-white">
		            		pending
		            	</span>
		                <div class="dropdown">
		                    <a class="btn btn-sm btn-icon-only text-white" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		                      <i class="material-icons">expand_more</i>
		                    </a>
		                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
		                        <a class="dropdown-item" href="#">Action-1</a>
		                        <a class="dropdown-item" href="#">Action-2</a>
		                        <a class="dropdown-item" href="#">Action-3</a>
		                    </div>
		                </div>
		            </td>
		            <td>
		            	Date
		            </td>
		        </tr>
		        <tr>
		            <th scope="row">
		                <div class="media align-items-center">
		                  
		                    <div class="media-body">
		                        <span class="mb-0 text-sm">A</span>
		                    </div>
		                </div>
		            </th>
		            <td>
		                Name
		            </td>
		            <td>
		                Topic
		            </td>
		            <td>
		                <div class="avatar-group">
		    				<a href="alert-details.html">Alert</a>
		</div>

		            </td>
		            <td>
		                <div class="d-flex align-items-center">
		                    <span class="mr-2">Required</span>
		                </div>
		            </td>
		            <td class="justify-content-center">
		            	<span class="badge badge-pill mr-3 bg-danger text-white">
		            		pending
		            	</span>
		                <div class="dropdown">
		                    <a class="btn btn-sm btn-icon-only text-white" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		                      <i class="material-icons">expand_more</i>
		                    </a>
		                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
		                        <a class="dropdown-item" href="#">Action-1</a>
		                        <a class="dropdown-item" href="#">Action-2</a>
		                        <a class="dropdown-item" href="#">Action-3</a>
		                    </div>
		                </div>
		            </td>
		            <td>
		            	Date
		            </td>
		        </tr>
		        <tr>
		            <th scope="row">
		                <div class="media align-items-center">
		                  
		                    <div class="media-body">
		                        <span class="mb-0 text-sm">A</span>
		                    </div>
		                </div>
		            </th>
		            <td>
		                Name
		            </td>
		            <td>
		                Topic
		            </td>
		            <td>
		                <div class="avatar-group">
		    				<a href="alert-details.html">Alert</a>
		</div>

		            </td>
		            <td>
		                <div class="d-flex align-items-center">
		                    <span class="mr-2">Required</span>
		                </div>
		            </td>
		            <td class="justify-content-center">
		            	<span class="badge badge-pill mr-3 bg-danger text-white">
		            		pending
		            	</span>
		                <div class="dropdown">
		                    <a class="btn btn-sm btn-icon-only text-white" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		                      <i class="material-icons">expand_more</i>
		                    </a>
		                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
		                        <a class="dropdown-item" href="#">Action-1</a>
		                        <a class="dropdown-item" href="#">Action-2</a>
		                        <a class="dropdown-item" href="#">Action-3</a>
		                    </div>
		                </div>
		            </td>
		            <td>
		            	Date
		            </td>
		        </tr>
		        <tr>
		            <th scope="row">
		                <div class="media align-items-center">
		                  
		                    <div class="media-body">
		                        <span class="mb-0 text-sm">A</span>
		                    </div>
		                </div>
		            </th>
		            <td>
		                Name
		            </td>
		            <td>
		                Topic
		            </td>
		            <td>
		                <div class="avatar-group">
		    				<a href="alert-details.html">Alert</a>
		</div>

		            </td>
		            <td>
		                <div class="d-flex align-items-center">
		                    <span class="mr-2">Required</span>
		                </div>
		            </td>
		            <td class="justify-content-center">
		            	<span class="badge badge-pill mr-3 bg-danger text-white">
		            		pending
		            	</span>
		                <div class="dropdown">
		                    <a class="btn btn-sm btn-icon-only text-white" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		                      <i class="material-icons">expand_more</i>
		                    </a>
		                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
		                        <a class="dropdown-item" href="#">Action-1</a>
		                        <a class="dropdown-item" href="#">Action-2</a>
		                        <a class="dropdown-item" href="#">Action-3</a>
		                    </div>
		                </div>
		            </td>
		            <td>
		            	Date
		            </td>
		        </tr>
		    </tbody>
		</table>
		<nav aria-label="Page navigation example" style="padding-bottom: 10px; padding-top: 10px">
		  <ul class="pagination justify-content-center">
		    <li class="page-item disabled">
		      <a class="page-link" href="#" tabindex="-1">
		        <i class="fa fa-angle-left"></i>
		        <span class="sr-only">Previous</span>
		      </a>
		    </li>
		    <li class="page-item"><a class="page-link" href="#">1</a></li>
		    <li class="page-item"><a class="page-link" href="#">2</a></li>
		    <li class="page-item"><a class="page-link" href="#">3</a></li>
		    <li class="page-item"><a class="page-link" href="#">4</a></li>
		    <li class="page-item"><a class="page-link" href="#">5</a></li>
		    <li class="page-item">
		      <a class="page-link" href="#">
		        <i class="fa fa-angle-right"></i>
		        <span class="sr-only">Next</span>
		      </a>
		    </li>
		  </ul>
		</nav>
	</div>
</div>	
</body>
</html>
