{% include "template_header.html" %}
{% load static %}
<!--Filter Script-->
<script type="text/javascript">
	$(document).ready(function(){
		$("#myInput").on("keyup", function() {
		var value = $(this).val().toLowerCase();
		$("#table tr").filter(function() {
			$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
		});
		});
	});

	$(document).ready(function(){
	$("#cmt-btn").click(function(){
		$("#form1").toggle();
		});
	});
</script>
	<!--Navigation Bar-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-default">
	    <div class="container">
	        <a class="navbar-brand" href="#">
	        	<img src="{% static 'assets/img/Eblity.jpeg' %}" alt="Eblity">
	        </a>
	        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
	            <span class="navbar-toggler-icon"></span>
	        </button>
	        <div class="collapse navbar-collapse" id="navbar-default">
	            <div class="navbar-collapse-header">
	                <div class="row">
	                    <div class="col-6 collapse-brand">
	                        <a href="index.html">
                            <img src="{% static 'assets/img/Eblity.jpeg' %}">
	                        </a>
	                    </div>
	                    <div class="col-6 collapse-close">
	                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
	                            <span></span>
	                            <span></span>
	                        </button>
	                    </div>
	                </div>
	            </div>

	            <ul class="navbar-nav ml-auto">
		      <li class="nav-item">
		        <a class="nav-link" href="#" style="font-weight: bold;font-size: 140%">HOME</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#" style="font-weight: bold;;font-size: 140%">DASHBOARD</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#" style="font-weight: bold;;font-size: 140%">STUDENT PROFILE</a>
		      </li>
		      <li>
		      	<a class="nav-link" href="#" style="font-weight: bold;;font-size: 140%">ABOUT US</a>
		      </li>   
		    </ul>
		    <a href="#"><i class="fa fa-lg fa-facebook-square float-right ml-4 text-white"></i></a>
		    <a href="#"><i class="fa fa-lg fa-twitter-square float-right ml-3 text-white"></i></a>
		    <a href="#"><i class="fa fa-lg fa-whatsapp float-right ml-3 text-white"></i></a>

	        </div>
	    </div>
	</nav>
	<br>
	<div class="container">
		<div class="card bg-secondary float-left" style="width: 30%;text-align: center;">
			<img src="{% static 'assets/img/img-avatar1.png' %}" style="border-radius: 50%; width: 40%; margin-left: 30%; margin-top: 15px">
			<div class="card-body float-right">
				<div class="card-title" style="font-size: 120%"><strong>Name: {{data.0.StudentName}}</strong></div>
				<div class="card-text" style="font-size: 120%"><strong>Grade: {{data.0.Grade}}</strong></div>
				<a href="#" class="btn btn-primary stretched-link mt-3" style="font-size: 120%">See Profile</a>
			</div>
		</div>
		<div style="width: 45%; margin-left: 35%">
			<span class="badge badge-pill" id="topic" style="width: 25%; font-weight: bold; font-size: 120%;background-color: #707b7c">Topic : {{data.Concept}}</span>
			<span class="badge badge-pill" id="subtopic" style="width: 50%; font-weight: bold; font-size: 120%;margin-left: 20%;background-color: #707b7c">Subtopic : {{data.SubConcept}}</span>
		</div>
		<br>
		<div class="card float-right" style="width: 65%">
			<div class="card-body">
				<div class="card-title text-center" style="font-size: 140%"><strong>Alert Description</strong></div>
				<div class="card-text" style="font-size: 120%;font-weight: bold;">{{data.0.comment}}</div>
			</div>
		</div>
		<br>
		<div style="width: 50%; margin-left: 36%; margin-top: 15%">
			<h4 style="font-size: 140%"><strong>Overall Status :</strong>
			<div class="dropdown pull-right" style="margin-right: 45%">
							<select class="selectpicker" id = "alert_status">
								<option {% if data.0.status == 0 %}
								selected
								{% endif %} value = "0">Pending</option>
								<option {% if data.0.status == 1 %}
								selected
								{% endif %} value = "1">Completed</option>
							</select>
            </div>
	        </h4>	
		</div>
	</div>
	<br><br>
	<!--Alert Table-->
	<div class="container pagebody">
	<input class="form-control float-right" id="myInput" type="text" placeholder="Search.." style="width: 30%; margin-bottom: 10px;font-size: 120%">
	<br>
	<div class="table-responsive">
		<table id="table" class="table align-items-center table-light table-hover">
		<thead class="tablehead">
		    <tr class="filters">
		        <th scope="col">Intervention</th>
		        <th scope="col">Assigned To</th>
		        <th scope="col">Follow up by</th>
		        <th scope="col">Status</th>
		        <th scope="col">Rating</th>
		    </tr>
		</thead>
		<tbody class="tablebody">
		    <tr>
		        <td  class="col1">
		        	Consult Tutor
		            <div class="dropdown pull-right" style="margin-right: 25%">
		                <a class="text-white" href="#" role="button" data-toggle="dropdown">
		                  <i class="material-icons">expand_more</i>
		                </a>
		                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
		                    <a class="dropdown-item" href="#">Refer Videos</a>
		                    <a class="dropdown-item" href="#">Consult Tutor</a>
		                    <a class="dropdown-item" href="#">Refer Games</a>
		                </div>
		            </div>
		        </td>
		        <td>
		            Rahul
		        </td>
		        <td>
		            Topic
		        </td>
		        <td class="justify-content-center">
		        	<span class="badge badge-lg badge-pill mr-3 bg-success text-white">
		        		Completed
		        	</span>
		            <div class="dropdown pull-right" style="margin-right: 30%">
		                <a class="text-white" href="#" role="button" data-toggle="dropdown">
		                  <i class="material-icons">expand_more</i>
		                </a>
		                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
		                    <a class="dropdown-item badge badge-pill badge-lg bg-success text-white" href="#">COMPLETED</a>
		                    <a class="dropdown-item badge badge-pill badge-lg bg-danger text-white mt-2" href="#">PENDING</a>
		                </div>
		            </div>
		        </td>
		        <td>
		        	Date
		        </td>
		    </tr>
		    </tbody>
		</table>
	</div>
</div>
<br><br>
<div class="container">
	<button class="btn btn-primary btn-md" style="margin-top: 2%;font-size: 100%" id="cmt-btn"><i class="fa fa-comments" style="margin-right: 2%"></i>comment</button>
	<br>
	<form id="form1">
	{% for comm in data.1 %}
    <p><span id="display">Time:{{comm.time_stamp}} :: {{comm.text}}</span></p>
	{% endfor %}
    	<div class="form-group" id="reply1">
      	<label for="comment" style="font-size: 100%">Comment:</label>
      	<textarea class="form-control" rows="5" id="comment" name="text" id="user_input"></textarea>
    	</div>
    	<button type="submit" class="btn btn-primary btn-md" style="float: right;font-size: 100%" onclick = "post_comment()">post</button>
    </form>
</div>
<br><br>

<script>
$('#alert_status').on('change', function() {
					$.ajax({
		type: "POST",
		url: "http://127.0.0.1:8000/alerts/",
		dataType: 'json',
		async: true,
		data: {
			"alert_id": this.value,
			"update_alert_id" : "1",
			"id" : '{{data.0.id}}',
			csrfmiddlewaretoken : '{{ csrf_token }}'
		},
		success: function(data){
			console.log("post alerts");
			console.log("success");
			console.log(data);
		},
		failure: function(data){
			console.log("failure");
			console.log(data);
		},
	});
});
function post_comment(){
		$.ajax({
		type: "POST",
		url: "http://127.0.0.1:8000/alerts/",
		dataType: 'json',
		async: true,
		data: {
			"post" : "1",
			"comment" : $("#comment").val(),
			"id" : '{{data.0.id}}',
			csrfmiddlewaretoken : '{{ csrf_token }}'
		},
		success: function(data){
			console.log("post alerts");
			console.log("success");
			console.log(data);
		},
		failure: function(data){
			console.log("failure");
			console.log(data);
		},
	});	
}
</script>

{% include "template_footer.html" %}