{% include "header.html" %}

{% include "navbar.html" %}

{% load static %}

{% load my_tags %}

      <!-- Page content -->
      <div class="page-content">
        <!-- Create project modal -->
        <div class="modal fade" id="modal-project-create" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <!-- Tutor -->
                <div class="form-group">
                  <label class="form-control-label">
                    Tutor Time
                  </label>
                   <input type="text" class="form-control" data-toggle="time" placeholder="Select time">
                </div>
                <!-- CheckIn -->
                <div class="form-group">
                  <label class="form-control-label">
                    CheckIn Time
                  </label>
                   <input type="text" class="form-control" data-toggle="time" placeholder="Select time">
                </div>
                <!-- CheckOut -->
                <div class="form-group">
                  <label class="form-control-label">
                    CheckIn Out
                  </label>
                   <input type="text" class="form-control" data-toggle="time" placeholder="Select time">
                </div>
                <!-- Intention -->
                <div class="form-group">
                  <label class="form-control-label">
                    Intention
                  </label>
                  <input type="text" class="form-control">
                </div>

                <!-- P/A -->
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck2" data-toggle="indeterminate">
                    <label class="custom-control-label" for="customCheck2">Check if student is present</label>
                </div>
                <!-- Reason -->
                <div class="form-group">
                  <label class="form-control-label">
                    Reason for Absence (if absent)
                  </label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary rounded-pill mr-auto" data-dismiss="modal">Save</button>
                <button type="button" class="btn btn-sm btn-link text-muted px-2">Update</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Page title -->
        <div class="page-title">
          <div class="row justify-content-between align-items-center">
            <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
              <!-- Page title + Go Back button -->
              <div class="d-inline-block">
                <h5 class="h4 d-inline-block font-weight-400 mb-0 text-white">Attendance</h5>
              </div>
              <!-- Additional info -->
              <div class="align-items-center ml-4 d-inline-flex">
                <span class="h4 text-info mb-0 mr-2">9</span>
                <span class="text-sm opacity-7 text-white">Absents</span>
              </div>
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-end">
              <div class="actions actions-dark d-inline-block">
                <input type="text" id="date-picker" class="form-control" data-toggle="date" placeholder="Select date">
              </div>
            </div>
          </div>
        </div>
        <!-- Project cards -->
        <div class="row" id="table_content">
           {% for data in obj %}
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="card hover-shadow-lg">
          <div class="card-header border-0 pb-0">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <h6 id="date-{{forloop.counter0}}" class="mb-0">{{data.date}}</h6>
              </div>
              <div class="text-right">
                <div class="actions">
                  
                  <div class="dropdown action-item" data-toggle="dropdown">
                    <a href="#" class="action-item"><i class="fas fa-ellipsis-h"></i></a>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a href="#" class="dropdown-item">Refresh</a>
                      <a href="#" class="dropdown-item">Manage Widgets</a>
                      <a href="#" class="dropdown-item">Settings</a>

                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="card-body text-center">
            <h5 id="student_name-{{forloop.counter0}}" class="h6 my-4"><a href="profile.html">{{data.student_id.student_name}}</a></h5>
            <h6 id="grade-{{forloop.counter0}}" class="h6 my-4"><a href="#">{{data.student_id.grade}}</a></h6>
            <div class="avatar-group hover-avatar-ungroup mb-3">
              <a href="#" class="avatar rounded-circle avatar-sm">
                <img alt="Image placeholder" src="{% static 'assets/img/theme/light/team-1-800x800.jpg' %}" class="">
              </a>
              <a href="#" class="avatar rounded-circle avatar-sm">
                <img alt="Image placeholder" src="{% static 'assets/img/theme/light/team-2-800x800.jpg' %}" class="">
              </a>
              <a href="#" class="avatar rounded-circle avatar-sm">
                <img alt="Image placeholder" src="{% static 'assets/img/theme/light/team-3-800x800.jpg' %}" class="">
              </a>
            </div>
            <span class="clearfix"></span>
            <span id="status-{{forloop.counter0}}" class="badge badge-pill badge-success">Present</span>
          </div>
          <div class="card-footer">
            <div class="actions d-flex justify-content-between px-4">
              <a href="#modal-project-create" class="btn btn-sm btn-white btn-icon-only rounded-circle ml-4" data-toggle="modal">
            <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
          </a>
              <a href="#" class="action-item">
                <i class="fas fa-comment"></i>
              </a>
              <a href="#" class="action-item text-danger">
                <i class="fas fa-trash-alt"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      {% endfor %}
        </div>
        <!-- Load more -->
        <div class="mt-4 text-center">
          <a href="#" class="btn btn-sm btn-info rounded-pill shadow hover-translate-y-n3">Load more ...</a>
        </div>
      </div>
      
 {% include "footer.html" %}

 <script type="text/javascript">
  $("#date-picker").flatpickr({
    defaultDate : new Date()
  });

  console.log($("#date-picker").val());

  $("#date-picker").on('change',function(){
      console.log($("#date-picker").val());
      var select_date = $("#date-picker").val();
      console.log("select_date : ",select_date);

      $.ajax({
      type: "POST",
      url: "http://127.0.0.1:8000/attendance/",
      dataType: 'json',
      async: true,
      data: {
        "selected" : '1',  
        "select_date" : select_date,
        csrfmiddlewaretoken : '{{ csrf_token }}'
      },
      success: function(obj){
        console.log("post alerts");
        console.log("success");
        console.log("size : ",obj.obj.length);
        /*console.log(JSON.stringify(obj));*/
        // console.log(obj);
        // console.log(JSON.stringify(obj));
        console.log(obj.obj[0].date);/**/
        /*var data = JSON.stringify(obj);
        var obj = JSON.parse(data);
        console.log(obj);*/
        var d = obj.obj[0].date
        console.log(d);

      $.ajax({
      type: "POST",
      url: "http://127.0.0.1:8000/attendance/",
      dataType: 'json',
      async: true,
      data: {
        "update_data" : '1',  
        "selected_date" : d,
        csrfmiddlewaretoken : '{{ csrf_token }}'
      },
      success: function(obj){
        console.log("post alerts");
        console.log("success");
        console.log("size : ",obj.obj.length);
        /*console.log(JSON.stringify(obj));*/
        // console.log(obj);
        // console.log(JSON.stringify(obj));
        console.log(obj.obj[0].date);/**/
        /*var data = JSON.stringify(obj);
        var obj = JSON.parse(data);
        console.log(obj);*/
        var d = obj.obj[0].date
        console.log(d);
/*        for(i=;i<obj.obj.length;i++)
        {
          $("#student_name"+i).text(obj.obj[i].student_name);
          $("#grade-"+i).text(obj.obj[i].grade)
        }*/
        
      },
      failure: function(data){
        console.log("failure");
        console.log(data);
      },
    });

        
      },
      failure: function(data){
        console.log("failure");
        console.log(data);
      },
    });
  })

 </script> 
