{% load static %}

<!-- Footer -->
      <div class="footer pt-5 pb-4 footer-light" id="footer-main">
        <div class="row text-center text-sm-left align-items-sm-center">
          <div class="col-sm-6">
            <p class="text-sm mb-0">&copy; 2019 <a href="https://webpixels.io" class="h6 text-sm" target="_blank">Webpixels</a>. All rights reserved.</p>
          </div>
          <div class="col-sm-6 mb-md-0">
            <ul class="nav justify-content-center justify-content-md-end">
              <li class="nav-item dropdown border-right">
                <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img alt="Image placeholder" src="{% static 'assets/img/icons/flags/in.svg' %}">
                  <span class="h6 text-sm mb-0">INDIA</span>
                </a>
                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                  <a href="#" class="dropdown-item"><img alt="Image placeholder" src="{% static 'assets/img/icons/flags/es.svg' %}" class="mr-2">Spanish</a>
                  <a href="#" class="dropdown-item"><img alt="Image placeholder" src="{% static 'assets/img/icons/flags/us.svg' %}" class="mr-2">English</a>
                  <a href="#" class="dropdown-item"><img alt="Image placeholder" src="{% static 'assets/img/icons/flags/gr.svg' %}" class="mr-2">Greek</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Support</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Terms</a>
              </li>
              <li class="nav-item">
                <a class="nav-link pr-0" href="#">Privacy</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Scripts -->
  <!-- Core JS - includes jquery, bootstrap, popper, in-view and sticky-kit -->
  <script src="{% static 'assets/js/purpose.core.js' %}"></script>
  <!-- Page JS -->
  <script src="{% static 'assets/libs/autosize/dist/autosize.min.js' %}"></script>
  <script src="{% static 'assets/libs/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js' %}"></script>
  <script src="{% static 'assets/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'assets/libs/dragula/dist/dragula.min.js' %}"></script>
  <script src="{% static 'assets/libs/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js' %}"></script>
  <script src="{% static 'assets/libs/autosize/dist/autosize.min.js' %}"></script>
  <script src="{% static 'assets/libs/dropzone/dist/min/dropzone.min.js' %}"></script>
  <script src="{% static 'assets/libs/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js' %}"></script>
  <script src="{% static 'assets/libs/quill/dist/quill.min.js' %}"></script>
  <script src="{% static 'assets/libs/select2/dist/js/select2.min.js' %}"></script>
  <script src="{% static 'assets/libs/flatpickr/dist/flatpickr.min.js' %}"></script>
  <script src="{% static 'assets/libs/typed.js/lib/typed.min.js' %}"></script>
  <script src="{% static 'assets/libs/bootstrap-notify/bootstrap-notify.min.js' %}"></script>
  <script src="{% static 'assets/libs/quill/dist/quill.min.js' %}"></script>
  <!-- Purpose JS -->
  <script src="{% static 'assets/js/purpose.js' %}"></script>
  <!-- Demo JS - remove it when starting your project -->
  <script src="{% static 'assets/js/demo.js' %}"></script>
  <!--Script for move columns-->
 
  <!--Script Ends-->
  
</body>

</html>