{% include "header.html" %}

{% load static %}

{% load my_tags %} 
    <h1 style="text-align: center">You have been successfully logged out!</h1>
    <a href="/login"><h3 style="text-align: center">Click here to login again.</h3></a>
    <!-- <div class="container">
        <div class="jumbotron">
          <h1>Welcome to the Eblity!</h1>
          {% if user.is_authenticated %}
              <h2>Hello {{ user.username }}</h2>
          {% else %}
              <h2>Register or Login if you'd like to</h2>
          {% endif %}
        </div>
      </div> -->


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% include "footer.html" %}  