{%load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
	<!-- Latest compiled and minified CSS -->
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

	<!-- Icons -->
	<link href="{% static 'assets/vendor/nucleo/css/nucleo.css' %}" rel="stylesheet">
	<link href="{% static 'assets/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


	<!-- Theme CSS -->
	<link type="text/css" href="{% static 'assets/css/argon.min.css" rel="stylesheet">

	<!-- Core -->
	<script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'assets/vendor/popper/popper.min.js' %}"></script>
	<script src="{% static 'assets/vendor/bootstrap/bootstrap.min.js' %}"></script>

	<!-- Theme JS -->
	<script src="{% static 'assets/js/argon.min.js' %}"></script>

	<!--Optional Plugins-->
	<script src="{% static 'assets/vendor/PLUGIN_FOLDER/PLUGIN_SCRIPT.js' %}"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

	<!--05-25-2019time Picker-->
	<script src="{% static 'assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>

	

	<!--Style-->
	<style type="text/css">
		.tablehead	{
			color: white;
			background-color:  #1a5276;
			/*text-align: center;*/
		}
		.tablebody{
			color: default;
			background-color: white;
			/*text-align: center;*/
		}
		td{
			width: 25%;
		}
		body{
			/*background-color: #979a9a;*/
			/*background-image: linear-gradient(-45deg,#2BC0E4 ,#EAECC6);*/
		}
		.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
		    background-color: #424949;
		    color: white;
		    font-weight: bold;
		}
	</style>
</head>
<body>